:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bg-color: #f5f4fa;
  --bg-footer-color: #2f303a;
  --text-footer-color: rgba(255, 255, 255, 0.6);
  --logo-black-color: #000000;
  --border-header-color: #ececec;
  --border-container-color: #eeeeee;
  --clients-link-color: #afb1b8;
  --grid-item: 2;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* стили index.html */

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

/* logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo .logo-header {
  color: var(--logo-black-color);
}

.footer .logo-footer {
  color: var(--primary-white-color);
}

/* page-header */

.page-header .container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-header-color);
}

/* site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* contacts */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: var(--primary-text-color);
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.contacts .link:hover .icon,
.contacts .link:focus .icon {
  fill: var(--accent-color);
}

/* hero */

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  margin-top: 200px;
  margin-bottom: 200px;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 700px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  border: 0;
  padding: 10px 32px;
  min-width: 200px;
}

/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* about us */

.about-us-list {
  --grid-item: 4;
}

.about-us-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-us-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
}

.about-us-list .grid-item::before {
  display: block;
  content: '';
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/about-us/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/about-us/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/about-us/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/about-us/astronaut.svg);
}

/* work */

.work {
  --grid-item: 3;
}

/* team */

.team-list .title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .grid-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team {
  --grid-item: 4;
  background-color: var(--bg-color);
}

.social-icons {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--clients-link-color);
}

.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icons-link:hover .icon,
.social-icons-link:focus .icon {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}

/* button */

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  text-align: center;
}

/* clients */

.clients {
  --grid-item: 6;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--clients-link-color);
  border-radius: 4px;
}

.clients-list .icon {
  width: 90px;
  height: 45px;
  fill: var(--clients-link-color);
}

.clients-link:focus .icon,
.clients-link:hover .icon {
  fill: var(--accent-color);
}

.clients-link:focus,
.clients-link:hover {
  border: 1px solid var(--accent-color);
}

/* footer */

.footer {
  background-color: var(--bg-footer-color);
  --grid-item: 4;
}

.footer .footer-list {
  padding-top: 0;
  padding-bottom: 0;
}

.footer .grid-item {
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer .social-icons {
  justify-content: start;
}

.footer .social-icons-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .title {
  color: var(--primary-white-color);
}

.footer .icon {
  fill: var(--primary-white-color);
}

.footer .social-icons-link:hover .icon,
.footer .social-icons-link:focus .icon {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.footer .social-icons-link:hover,
.footer .social-icons-link:focus {
  background-color: var(--accent-color);
}

.footer-container {
  display: flex;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.adress {
  margin-bottom: 9px;
  color: var(--primary-white-color);

  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
}

.contacts.link {
  margin-bottom: 9px;
  color: var(--text-footer-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}

.contacts.link:hover,
.contacts.link:focus {
  color: var(--accent-color);
}

/* стили portfolio.html */

/* portfolio-nav */

.portfolio-nav {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-nav .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav .button {
  padding: 6px 22px;
  border: 0;
  color: var(--title-text-color);
  background-color: var(--bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfolio-nav .button:hover,
.portfolio-nav .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* portfolio-list */

.portfolio .portfolio-list {
  --grid-item: 3;
}

.portfolio .grid-item {
  background-color: var(--primary-white-color);
  border: 1px solid var(--border-container-color);
}

.portfolio .grid-item:hover,
.portfolio .grid-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .title {
  padding-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  padding-left: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

a.works:active,
a.works:hover,
a.works {
  text-decoration: none;
  color: inherit;
}
